In [9]:
import mysql.connector

database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = ""
)

# Preparing Cursor Object
cursorObject = database.cursor()

# Creating Database
cursorObject.execute("CREATE DATABASE Latihanpython")

In [4]:
import mysql.connector
  
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="",
  database = "Latihanpython"
)
 
# preparing a cursor object
cursorObject = dataBase.cursor()
  
# creating table
studentRecord = """CREATE TABLE TI_D (
                   NIM VARCHAR(8) NOT NULL,
                   NAME  VARCHAR(20) NOT NULL,
                   ADDRESS VARCHAR(50),
                   AGE INT
                   )"""
  
# table created
cursorObject.execute(studentRecord)
  
# disconnecting from server
dataBase.close()

ProgrammingError: 1050 (42S01): Table 'ti_d' already exists

In [3]:
import mysql.connector
  
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="",
  database = "Latihanpython"
)
 
# preparing a cursor object
cursorObject = dataBase.cursor()
  
sql = "INSERT INTO TI_D (NIM, NAME, ADDRESS, AGE)\
VALUES (%s, %s, %s, %s)"
val = [("V6501001", "Yusuf", "Madiun", "18"),
       ("V6501002", "Rafif", "Medan", "21"),
       ("V6501003", "Perwira", "Lampung", "17"),
       ("V6501004", "Yanti", "Wonosobo", "20"),
       ("V6501005", "Michelle", "Aceh", "18")
      
      ]
   
cursorObject.executemany(sql, val)
dataBase.commit()
   
# disconnecting from server
dataBase.close()

In [14]:
import mysql.connector
  
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="",
  database = "Latihanpython"
)
 
# preparing a cursor object
cursorObject = dataBase.cursor()
  
query = "SELECT NAME, ADDRESS FROM TI_D"
cursorObject.execute(query)
   
myresult = cursorObject.fetchall()
   
for x in myresult:
    print(x)
 

dataBase.close()

('Yusuf', 'Madiun')
('Rafif', 'Medan')
('Perwira', 'Lampung')
('Yanti', 'Wonosobo')
('Michelle', 'Aceh')
('Yusuf', 'Madiun')
('Rafif', 'Medan')
('Perwira', 'Lampung')
('Yanti', 'Wonosobo')
('Michelle', 'Aceh')
('Yusuf', 'Madiun')
('Rafif', 'Medan')
('Perwira', 'Lampung')
('Yanti', 'Wonosobo')
('Michelle', 'Aceh')

In [15]:
import mysql.connector
  
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="",
  database = "Latihanpython"
)
 
# preparing a cursor object
cursorObject = dataBase.cursor()
  
query = "UPDATE TI_D SET ADDRESS = 'Pacitan'  WHERE Name ='Yusuf'"
cursorObject.execute(query)
dataBase.commit()
 
# disconnecting from server
dataBase.close()

In [16]:
import mysql.connector
  
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="",
  database = "Latihanpython"
)
 
# preparing a cursor object
cursorObject = dataBase.cursor()
  
query = "DELETE FROM TI_D WHERE NAME = 'Yusuf'"
cursorObject.execute(query)
dataBase.commit()
 
# disconnecting from server
dataBase.close()

In [8]:
import mysql.connector
  
dataBase = mysql.connector.connect(
  host ="localhost",
  user ="root",
  passwd ="",
  database = "Latihanpython"
)
 
# preparing a cursor object
cursorObject = dataBase.cursor()
  
query ="DROP TABLE TI_D;"
 
cursorObject.execute(query)
dataBase.commit()
 
# disconnecting from server
dataBase.close()